* {
  padding: 0;
  outline: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: bitechocolate;
  src: url(../../assets/fonts/bitechocolate.ttf);
}

@font-face {
  font-family: amaticsc;
  src: url(../../assets/fonts/amaticsc.woff2);
}

@font-face {
  font-family: soulsignature;
  src: url(../../assets/fonts/soulsignature.ttf);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.search, p {
  font-family: amaticsc;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  line-height: 0;
  text-shadow: 1px 1px 2px black, 0 0 1em #146da1, 0 0 0.2em #146da1;
}

.canI, .mayI {
  font-family: amaticsc;
  font-size: 40px;
  padding: 5px;
  text-align: center;
  margin-right: 380px;
  text-shadow: 1px 1px 2px black, 0 0 1em #146da1, 0 0 0.2em #146da1;
}

.recipeFoods, .recipeDrinks {
  font-family: bitechocolate;
  font-size: 14px;
  padding: 14px;
  margin-top: 3px;
  text-decoration: none;
  text-shadow: 1px 1px 2px black, 0 0 1em #146da1, 0 0 0.2em #146da1;
  display: inline-block;
}

.recipeDrinks {
  padding: 10px;
}

.allMainHomepage {
  overflow: hidden;
}

.img {
  /* width: calc(100vw - 200px) !important; */
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.MainHomepageNavbar {
  overflow: none;
  margin-left: 270px;
  position: relative;
  width: 100%;
}

.allMeals {
  overflow-x: hidden;
  margin-left: 270px;
  height: 100vh;
  width: calc(100vw - 270px);
  background-image: url("../../assets/images/bluewall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.foodimg {
  max-width: 75%;
  max-height: auto;
  display: inline-block;
}

.allFDHomepage {
  overflow-x: hidden;
  height: 100vh;
  width: calc(100vw - 270px);
  background-image: url("../../assets/images/bluewall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 270px;
  width: 100%;
}

.carousel {
  position: absolute;
}

.foodimg {
  max-width: 75%;
  max-height: auto;
}

.homeFD{
  overflow: hidden;
}

.textCard{
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em #146da1, 0 0 0.2em #146da1;
  color: white;
  font-family: soulsignature;
  font-size: 40px;
  border: 5;
  line-height: 35px;
  
}
