*{
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: JosefinSlab, sans-serif;
    
}

.img{
    width:90vw;
    height:100vh;
}

.MainHomepageNavbar {
    margin-left: 199px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel{
    position: absolute;
}