@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@font-face {
  font-family: amaticsc;
  src: url(../../assets/fonts/amaticsc.woff2);
}
@font-face {
  font-family: bitechocolate;
  src: url(../../assets/fonts/bitechocolate.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #BDB8D7;
  font-size: 17px;
}
.menu {
  font-family: amaticsc;
  font-size: 60px;
  color: #BDB8D7;
  text-shadow: 1px 1px 2px black, 0 0 1em #146da1, 0 0 0.2em #146da1;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  position: absolute;
  background-image: url("../../assets/images/bluewall.jpg");
  background-size: cover;
  width: 270px;
  height: 100%;
  padding: 40px 10px;
  position: fixed;
}
.wrapper .sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper .sidebar ul li a {
  font-family: bitechocolate;
  font-size: 12px;
  font-weight: 500;
  padding: 18px;
  border-bottom: 1px solid #BDB8D7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.wrapper .sidebar ul li a {
  color: #BDB8D7;
  display: block;
  text-decoration: none;
}
.wrapper .sidebar ul li a .fas {
  width: 25px;
}
.wrapper .sidebar ul li:hover {
  background-color: #0C4160;
}
.wrapper .sidebar ul li:hover {
  color: #C3CEDA;
  font-size: 18px;
}
.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 10px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #BDB8D7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}
.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #E0E4E8;
}
.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}
.wrapper .main_content .info div {
  margin-bottom: 20px;
}