@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@font-face {
  font-family: amaticsc;
  src: url(../../assets/fonts/amaticsc.woff2);
}
@font-face {
  font-family: bitechocolate;
  src: url(../../assets/fonts/bitechocolate.ttf);
}

@font-face {
  font-family: dancingscript;
  src: url(../../assets/fonts/dancingscript.ttf);
}

@font-face {
  font-family: soulsignature;
  src: url(../../assets/fonts/soulsignature.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none; */
  /* text-decoration: none; */
  font-family: "Josefin Sans", sans-serif;
  color: #bdb8d7;
  font-size: 17px;
  text-shadow: 1px 1px 2px black, 0 0 1em #146da1, 0 0 0.2em #146da1;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.fas {
  color: white;
}

.allindividualFD {
  overflow: hidden;
  background-image: url("../../assets/images/bluewall.jpg");
  background-size: cover;
}

.individualFD {
  margin-bottom: 50px;
}

.individualFDText,
h3 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em #146da1, 0 0 0.2em #146da1;
}

.individualFDText,
li {
  list-style-type: disc;
  line-height: 28px;
  font-size: 23px;
  font-family: dancingscript;
}

.individualFDText {
  margin-left: 40px;
}

.imgFDDetail {
  border-radius: 10%;
  margin-right: 30px;
  max-width: 350px;
}

.imgIngredients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructionsDiv {
  padding-top: 30px;
  margin-bottom: 40px;
}

.textP {
  color: white;
  text-shadow: 1px 1px 2px black, 1 1 1em #146da1, 0 0.2em #146da1;
  text-align: justify;
  font-family: "dancingscript";
  line-height: 25px;
  font-size: 23px;
}

.printer,
a:hover,
a:visited,
a:link,
a:active {
  font-family: amaticsc;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.h1Text {
  font-family: amaticsc;
  font-size: 60px;
  line-height: 50px;
}

.h4Text {
  font-family: amaticsc;
  font-size: 30px;
}

.h3Text {
  font-family: amaticsc;
  font-size: 40px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px black, 1 1 1em #146da1, 0 0.2em #146da1;
  text-align: justify;
}

.randomPrintTitle {
  text-align: justify;
  margin: 30px;
  color: black;
}

.instructionsRandomPrint {
  text-align: left;
  color: black;
}

.textMargin {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}

.randomPrintLi {
  text-align: justify;
  margin-left: 40px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
}
.randomPrintImg {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
